@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: 'NeolostPersonaUse'; 
	src: url("fonts/NeolostPersonalUse-4nBPB.otf"); 
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: #13042E;
}


.authorization{
    width: 100%;
}
.authorization__header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-top: 51px;
}
.authorization__header__logo__img{
    position: relative;
    right: 40px;
}
.authorization__header__menu__link{
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
.authorization__header__register__auth__link{
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
.authorization__header__register__auth__link:last-child {
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 0px;
}
.authorization__header__menu__link:first-child{
    padding-left: 0px;
}
.authorization__header__mobile {
    display: none;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 79px;
    gap: 14px;
}
.authorization__header__logo__mobile{
    width: 75%;
    display: flex;
    justify-content: center;
}
.authorization__header__logo__mobile {
    position: relative;
}
.authorization__header__logo__mobile img {
    position: relative;
    right: 0px;
}
.authorization__header__menu__mobile{
    width: 100%;
    margin-top: 24.5px;
    display: flex;
    justify-content: center;
}

















div.authorization__main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 179px;
}
.authorization__main__form__input{
    width: 447px;
    height: 51px;
    padding-left: 10px;
    margin-bottom: 15px;
}
input.middle:focus {
    outline-width: 0;
}
div.authorization__main__form p{
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.authorization__main__form__input__button{
    width: 100%;
    height: 48px;
    margin-top: 28px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    margin-bottom: 70px;
}
@media screen and (max-width:1640px) {
    a.authorization__main__blocks__block__items__item {
        cursor: pointer;
        width: 210px;
        height: 61px;
        border: double 1px transparent;
        border-radius: 11px;
        background-image: linear-gradient(#13042E, #13042E), linear-gradient(to right, #9771D9, #D6CCE8);
        background-origin: border-box;
        background-clip: content-box, border-box;
        text-align: center;
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
    }
}
@media screen and (max-width:1460px) {
    .authorization__header__mobile{
        display: flex;
    }
    .authorization__header{
        display: none;
    }
    .authorization__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 35px;
    }
    .authorization__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 35px;
        padding-right: 0px;
    }
















    div.authorization__main__blocks__block__items {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 30px;
        flex-wrap: wrap;
        gap: 30px;
    }
}
@media screen and (max-width:1024px) {
    .authorization__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 35px;
    }
    .authorization__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 35px;
        padding-right: 0px;
    }
















}
@media screen and (max-width:600px) {
    .authorization__header__mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-top: 79px;
        gap: 14px;
    }
    .authorization__header__menu__mobile {
        width: 100%;
        margin-top: 24.5px;
        display: flex;
        justify-content: center;
    }
    .authorization__main__form__input {
        width: 80vw;
        height: 51px;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .authorization__main__form__input__button {
        width: 100%;
        height: 48px;
        margin-top: 28px;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        cursor: pointer;
        margin-bottom: 70px;
    }

















}
@media screen and (max-width:450px) {

    .authorization__header__register__auth__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .authorization__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 10px;
    }
    .authorization__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .authorization__header__menu__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }


















}
@media screen and (max-width:350px) {
    .authorization__header__menu__link {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .authorization__header__menu__link:last-child {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .authorization__header__register__auth__link {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 10px;
    }
    .authorization__header__register__auth__link:last-child {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
















}