@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
	font-family: 'NeolostPersonaUse'; 
	src: url("fonts/NeolostPersonalUse-4nBPB.otf"); 
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: #13042E;
}
.reservation__block__specifications__info__title{
    margin: 0 auto;
    margin-top: 20px;
    align-items: baseline;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.reservation__block__specifications__info__title__left{
    width: 56px;
    height: 1px;
    background-color: #D9D9D9;
}
.reservation__block__specifications__info__title__right{
    width: 56px;
    height: 1px;
    background-color: #D9D9D9;
}
.reservation__block__specifications__info__title__center{
    display: flex;
    justify-content: center;
    width: 231px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 21px;
}
.reservation__block__specifications__info__text{
    padding-top: 45px;
}
.reservation__block__specifications__info__text__title__h1{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.reservation__block__specifications__info__exit{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: end;
    margin-top: 41px;
}
.reservation__block__specifications__info__exit__img{
    cursor: pointer;
}
.reservation__block__specifications__info__text__main__text__circle{
    width: 5px;
    position: relative;
    height: 5px;
    border-radius: 100px;
    background-color: white;
    top: 10px;
}
.reservation__block__specifications__info__text__main__text{
    max-width: 487px;
    margin: 0 auto;
}
.reservation__block__specifications__info__text__button{
    width: 152px;
    height: 41px;
    position: relative;
    text-align: center;
    color: white;
    background: transparent;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 27px;
    font-style: normal;
    border: 1px solid white;
    left: 11px;
}
.reservation__block__specifications__info__text__main{
    padding-top: 27px;
}
.reservation__block__specifications__info__text__main__text__circle__li{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-left: 10px;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    color: white;
}
.reservation__block__specifications__info__title__center__title{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.reservation__block__specifications{
    width: 100%;
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 2;
}
.reservation__block__specifications__black{
    width: 70%;
    background-color: black;
    opacity: 0.57;
}
.reservation__block__specifications__info{
    width: 30%;
    background-color: #080214;
}
.reservation__block__specifications__info__text{
    width: 70%;
    margin: 0 auto;

}
.reservation{
    width: 100%;
}
.reservation__header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-top: 51px;
}
.reservation__header__logo__img{
    position: relative;
    right: 40px;
}
.reservation__mainInfo__game__place__fon__div{
    width: 24%;
}
.reservation__header__menu__link{
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
.reservation__header__register__auth__link{
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
.reservation__mainInfo__game__place__fon{
    height: auto;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    background: url("img/Group 2 (1).png") no-repeat;
    background-size: cover;
    filter: blur(44px);
    margin-top: 90px;
}
.reservation__mainInfo__game__place__one__PC{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: -16.7%;
    z-index: 1;
    position: relative;
}
.reservation__header__register__auth__link:last-child {
    font-size: 20px;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 0px;
}
.reservation__header__menu__link:first-child{
    padding-left: 0px;
}
.reservation__mainInfo__game__place__one__PC__info{
    width: 24%;
}
.reservation__mainInfo__game__place__fon__div__img{
    width: 100%;
    opacity: 0;
}
.reservation__mainInfo__game__place__one__PC__info__img{
    cursor: pointer;
    width: 100%;
}
.reservation__mainInfo__game__place__one__PC__info__div{
    margin: 0 auto;
    width: 152px;
    margin-top: 37px;
}
.reservation__mainInfo__game__place__one__PC__info__div__button{
    width: 100%;
    height: 41px;
    font-size: 14px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.reservation__mainInfo__game__place__one__bottom{
    width: calc(80% - 70px);
    margin: 0 auto;
    margin-top: 37px;
}
.reservation__mainInfo__game__place__one__bottom__img{
    width: 100%;
}
.reservation__mainInfo__game__place__one__bottom__text__div__h1{
    font-size: 48px;
    font-family: 'NeolostPersonaUse'; 
    text-transform: uppercase;
    background: linear-gradient(45deg, #9771D9 0%, #D6CCE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #9771D9;
    font-weight: 100;
    text-align: center;
    display: table;
}
.reservation__mainInfo__game__place__one__bottom__text__div{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 24.5px;
}
.reservation__mainInfo__game__place__one__bottom__link{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.reservation__mainInfo__game__place__one__bottom__link__a{
    width: 244px;
    border: 1px solid transparent;
    border-image: linear-gradient(#9771D9 , #D6CCE8);
    -moz-border-image: -moz-linear-gradient(#9771D9 , #D6CCE8);
    -webkit-border-image: -webkit-linear-gradient(#9771D9 , #D6CCE8);
    border-image-slice: 1;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding-bottom: 22px;
    padding-top: 22px;
    margin-top: 52px;
    background: linear-gradient(45deg, #9771D9 0%, #D6CCE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #9771D9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.reservation__mainInfo__game__place__fon__two{
    height: auto;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    background: url("img/Group 5.png") no-repeat;
    background-size: cover;
    filter: blur(44px);
    margin-top: 90px;
}
.reservation__mainInfo__game__place__one__bottom__link:last-child{
    margin-bottom: 100px;
}
.reservation__header__mobile {
    display: none;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 79px;
    gap: 14px;
}
.reservation__header__logo__mobile{
    width: 75%;
    display: flex;
    justify-content: center;
}
.reservation__header__logo__mobile {
    position: relative;
}
.reservation__header__logo__mobile img {
    position: relative;
    right: 0px;
}
.reservation__header__menu__mobile{
    width: 100%;
    margin-top: 24.5px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1460px) {
    .reservation__header__mobile{
        display: flex;
    }
    .reservation__header{
        display: none;
    }
    .reservation__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 35px;
    }
    .reservation__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 35px;
        padding-right: 0px;
    }
    .reservation__block__specifications__black {
        width: 60%;
        background-color: black;
        opacity: 0.57;
    }
    .reservation__block__specifications__info {
        width: 40%;
        background-color: #080214;
    }
}
@media screen and (max-width:1024px) {
    .reservation__block__specifications__black {
        width: 0%;
        background-color: black;
        opacity: 0.57;
    }
    .reservation__block__specifications__info {
        width: 100%;
        background-color: #080214;
    }
    .reservation__mainInfo__game__place__one__PC__info {
        width: 330px;
    }
    .reservation__mainInfo__game__place__one__PC {
        display: flex;
        justify-content: space-between;
        width: calc(80% - 70px);
        margin: 0 auto;
        margin-top: -16.7%;
        z-index: 1;
        position: relative;
        flex-wrap: wrap;
    }
    .reservation__mainInfo__game__place__one__PC__info__div {
        margin: 0 auto;
        width: 152px;
        margin-top: 37px;
        margin-bottom: 37px;
    }
    .reservation__mainInfo__game__place__one__PC {
        display: flex;
        justify-content: center;
        width: calc(100vw - 70px);
        margin: 0 auto;
        padding-left: 20px;
        margin-top: -16.7%;
        z-index: 1;
        column-gap: 16px;
        position: relative;
        flex-wrap: wrap;
    }
    .reservation__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 35px;
    }
    .reservation__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 35px;
        padding-right: 0px;
    }
}
@media screen and (max-width:600px) {
    .reservation__header__mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-top: 79px;
        gap: 14px;
    }
    .reservation__header__menu__mobile {
        width: 100%;
        margin-top: 24.5px;
        display: flex;
        justify-content: center;
    }
    .reservation__block__specifications__info__title {
        margin: 0 auto;
        margin-top: 20px;
        align-items: baseline;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .reservation__block__specifications__info__text {
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width:450px) {
    .reservation__header__register__auth__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .reservation__header__register__auth__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 10px;
    }
    .reservation__header__menu__link:last-child {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .reservation__header__menu__link {
        font-size: 20px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .reservation__mainInfo__game__place__one__PC {
        display: flex;
        justify-content: center;
        width: calc(100vw);
        margin: 0 auto;
        padding-left: 0px;
        margin-top: -16.7%;
        z-index: 1;
        column-gap: 16px;
        position: relative;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:350px) {
    .reservation__block__specifications__info__title {
        margin: 0 auto;
        margin-top: 20px;
        align-items: baseline;
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .reservation__block__specifications__info__text {
        width: 95%;
        margin: 0 auto;
    }
    .reservation__header__menu__link {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .reservation__header__menu__link:last-child {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .reservation__header__register__auth__link {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 0px;
        padding-right: 10px;
    }
    .reservation__header__register__auth__link:last-child {
        font-size: 16px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 0px;
    }
    .reservation__mainInfo__game__place__one__PC__info {
        width: 241px;
    }
}